* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --title-color: #66899c;
  --body-colour: #696969;
  --background-color: #2b2828;
  --foreground-color: #fff;
  --blend-mode: normal;
}
.dark-theme {
  --title-color: #ffff;
  --body-colour: #afafaf;
  --background-color: #181621;
  --foreground-color: #ebe7e7;
  --blend-mode: lighten;
}

html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  background: var(--background-color);
  color: var(--foreground-color);
  transition: background-color 1s, color 1s;
}
main {
  margin: 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toggle-btn {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  /* border: 1px solid black; */
  display: flex;
  cursor: pointer;
  z-index: 9999;
  background-color: var(--background-color);
}
.toggle-btn i {
  margin: auto;
  font-size: 1.5rem;
  color: white;
}

.title {
  margin-top: 2rem;
  
}
h3{
    color: var(--title-color);
    transition: background-color 1s, color 1s;

}
h1,
h3 {
  text-align: center;
  letter-spacing: 1px;
  /* color: var(--title-color); */
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 120rem;
}
.row {
  display: flex;
  margin-top: 2rem;
  width: 100%;
  gap: 20px;
  transition: background-color 1s;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.05);
}
.col {
  width: 50%;
}
p {
  margin-top: 1.5rem;
  letter-spacing: 1px;
  line-height: 30px;
}
strong,
b {
  color: #66899c;
  font-size: bold;
}
img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
