* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* color variables */
  --title-color: #66899c;
  --body-colour: #696969;
  --background-color: #2b2828;
  --foreground-color: #fff;
  --blend-mode: normal;
}
.dark-theme {
  --title-color: #ffff;
  --body-colour: #afafaf;
  --background-color: #181621;
  --foreground-color: #ebe7e7;
  --blend-mode: lighten;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  background: var(--background-color);
  color: var(--foreground-color);
  transition: background-color 1s, color 1s;
}
main {
  margin: 30px;
  max-height: 100%;
  max-width: 1280px;
}
.toggle-btn {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  display: flex;
  cursor: pointer;
  z-index: 9999;
  background-color: var(--background-color);
}
.toggle-btn i {
  margin: auto;
  font-size: 1.3rem;
  color: white;
}
.title {
  margin-top: 2rem;
}
h3 {
  color: var(--title-color);
  font-family: cursive;
  font-weight: bold;
  transition: background-color 1s, color 1s;
  text-align: center;
  letter-spacing: 1px;
}
h1,
h5 {
  text-align: center;
}
span {
  text-decoration: none;
  font-size: 15px;
  color: var(--foreground-color);
}
a {
  text-decoration: none;
  font-size: inherit;
  font-style: italic;
  color: inherit;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
  position: relative;
}
/* Two columns layout */
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  width: 100%;
  grid-gap: 15px;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

p {
  margin-top: 1.5rem;
  letter-spacing: 1px;
  line-height: 28px;
  text-align: center;
}

strong,
b {
  color: #66899c;
  font-size: bold;
}
.second {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
img {
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: -2px -8px 5px -1px rgba(0, 0, 0, 0.65);
}
figcaption {
  position: absolute;
  z-index: 2;
  padding: 8px 2px;
  text-align: center;
  font: 20px "cursive";
  font-style: italic;
  color: var(--title-color);
}
/* Responsive layout - When the screen is less than 650px wide, make the columns stack ontop of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .tributeheader {
    margin-top: 85px;
    height: 15px;
  }
  main {
    margin: 5px;
    height: 100%;
  }
  .toggle-btn {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
  .toggle-btn i {
    margin: auto;
    font-size: 1.2rem;
    color: white;
  }
  h1,
  h3 {
    font-size: 20px;
  }
  .row {
    grid-template-columns: 1fr;
  }
  figcaption {
    font-size: 15px;
    font-weight: bold;
    align-self: center;
    width: 80%;
    padding: 12px;
  }
}
